.institutesSwiper {
  padding: 50px 0;
  width: 100%;
}

.institute-slide {
  width: 280px;
  height: 280px;
  margin: 0 15px 50px;
  transition: transform 0.3s ease;
}

.swiper-slide-active {
  transform: scale(1.1);
  z-index: 10;
}

.institute-overlay {
  backdrop-filter: blur(2px);
}
